.indent{
    vertical-align: top;
    display: inline-block;
    width: 50%;
}
.row {
    padding: 2%;
    border:3px double grey;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 2%;
}

.connection{
    margin-bottom: 2%;
}

button{
    margin-right: 1%;
}

form{
    padding: 0;
    margin-bottom: 2%;
}

select{
    margin-right: 1%;
    margin-bottom: 1%;
}

input{
    width: 8%;
    margin-right: 1%;
}
