<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>MiniHearthStone</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
    <h1>{{title}}</h1>
<body>
    <div class="indent">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:map="http:rsvg.org/dtd/map"
              width="90%" height="90%"
              viewBox="0 0 1024 792">
          <path id="Move mouse over a country" class='sea' fill="#FFFFFF" d="M0 792c0,-264 0,-528 0,-792 341,0 682,0 1023,0 0,264 0,528 0,792 -341,0 -682,0 -1023,0z"/>
          <g id="map" visibility="visible" fill="none" stroke-width="1.5">
            <g id="Africa" stroke="rgb(198,138,49)" fill="#CEA252" visibility="visible">
                <path class='country'  id="Afrique Orientale" d="M532 514c-1,-6 -1,-12 -2,-17 5,-1 6,-8 7,-12 1,0 2,0 4,0 1,-8 11,-8 10,-19 -5,-1 -10,-2 -16,-2 0,-2 -1,-4 -2,-6 0,1 -1,2 -2,3 -7,-10 -12,-18 -16,-29 -1,-14 2,-24 4,-37 0,-1 0,-3 0,-4 1,0 2,0 4,0 -1,-3 -1,-3 1,-9 11,0 22,0 33,0 2,-3 2,-3 5,-4 7,11 9,26 14,38 1,1 2,1 3,1 2,5 3,9 5,14 -1,0 -2,0 -3,0 9,6 21,1 30,-1 0,0 0,1 1,2 -4,12 -9,23 -16,34 -15,12 -22,25 -33,39 0,7 0,14 1,21 -6,1 -11,2 -16,4 -2,6 -2,16 -2,18 -2,-1 -3,-1 -5,-1 0,-7 0,-15 0,-23 -2,-3 -5,-7 -7,-10 -1,0 -2,0 -2,0z" (mouseover)="showCountry('Afrique Orientale')" (click)="highlightCountry('Afrique Orientale')"/>
                <path class='country' id="Egypte" (mouseover)="showCountry('Egypte')" (click)="highlightCountry('Egypte')" d="M484 328c8,2 15,10 23,9 0,-4 0,-4 1,-7 12,-3 24,4 35,8 5,0 9,0 14,0 1,5 3,10 4,15 -2,0 -4,-1 -6,-1 2,9 5,17 7,26 -3,1 -3,1 -5,4 -11,0 -22,0 -33,0 -2,6 -2,6 -1,9 -2,0 -3,0 -4,0 0,1 0,3 0,4 -7,-2 -8,-7 -15,-9 0,-2 -1,-4 -2,-6 -12,-2 -19,-3 -28,-11 -1,-11 0,-19 -1,-29 1,-1 2,-1 2,-2 1,-2 1,-4 1,-7 4,-3 4,-3 8,-3z"/>
                <path class='country' id="Congo" (mouseover)="showCountry('Congo')" (click)="highlightCountry('Congo')" d="M473 502c-5,-6 -11,-12 -11,-20 4,-3 4,-4 6,-9 2,0 4,0 6,0 0,-1 0,-2 0,-3 9,2 9,2 13,2 1,-8 2,-13 0,-20 4,-2 5,-5 10,-7 1,-1 1,-2 1,-4 7,-1 11,-5 17,-9 4,11 9,19 16,29 1,-1 2,-2 2,-3 1,2 2,4 2,6 6,0 11,1 16,2 1,11 -9,11 -10,19 -2,0 -3,0 -4,0 -1,4 -2,11 -7,12 1,5 1,11 2,17 -1,2 -2,3 -3,5 -1,0 -2,0 -3,0 1,5 1,11 2,16 -2,0 -3,0 -4,0 0,-1 0,-3 0,-4 -23,-5 -15,-2 -21,-20 -2,0 -4,-1 -6,-1 0,1 -1,2 -1,3 -1,0 -3,0 -4,1 -1,-4 -1,-4 -4,-9 -8,-1 -9,-2 -15,-3z"/>
                <path class='country' id="Madagascar" (mouseover)="showCountry('Madagascar')" (click)="highlightCountry('Madagascar')" d="M579 589c-5,-6 -4,-15 -1,-22 0,0 1,0 2,0 2,-15 1,-16 14,-21 6,-5 6,-5 7,-8 1,0 2,0 3,0 0,5 0,11 0,17 0,0 -1,0 -2,0 0,1 0,2 0,4 -1,0 -2,0 -3,0 -1,11 -9,26 -20,30z"/>
                <path class='country' id="Afrique du Sud" (mouseover)="showCountry('Afrique du Sud')" (click)="highlightCountry('Afrique du Sud')" d="M473 502c6,1 7,2 15,3 3,5 3,5 4,9 1,-1 3,-1 4,-1 0,-1 1,-2 1,-3 2,0 4,1 6,1 6,18 -2,15 21,20 0,1 0,3 0,4 1,0 2,0 4,0 -1,-5 -1,-11 -2,-16 1,0 2,0 3,0 1,-2 2,-3 3,-5 0,0 1,0 2,0 2,3 5,7 7,10 0,8 0,16 0,23 2,0 3,0 5,1 0,-2 0,-12 2,-18 5,-2 10,-3 16,-4 0,13 2,29 -13,33 -1,2 -1,2 -6,7 -1,9 0,19 -10,22 -2,13 -2,13 -3,18 -1,0 -2,0 -3,0 0,1 0,2 0,3 -1,0 -2,0 -3,0 -7,18 -20,18 -39,22 -2,-1 -4,-2 -5,-2 0,-2 0,-3 0,-4 0,0 1,0 2,0 0,-10 -1,-15 -6,-24 -1,-9 -2,-12 -5,-30 -4,-11 -8,-21 -2,-31 1,0 3,-1 4,-1 0,-8 -1,-16 -1,-24 1,0 2,-1 3,-1 0,-3 0,-7 -1,-11 -1,0 -2,0 -3,0 0,0 0,-1 0,-1z"/>
                <path class='country' id="Afrique du Nord" (mouseover)="showCountry('Afrique du Nord')" (click)="highlightCountry('Afrique du Nord')" d="M468 473c-1,-4 -1,-6 0,-10 -7,-3 -7,-3 -13,-3 -2,-6 -2,-6 -4,-7 -5,0 -9,1 -14,1 0,1 0,2 0,3 -16,-1 -25,7 -36,-8 -6,-2 -10,-16 -12,-22 0,0 -1,0 -2,0 0,-1 0,-2 0,-3 -1,0 -2,0 -3,0 -2,-9 -2,-16 1,-25 0,-9 -1,-19 2,-28 5,-1 8,-15 10,-20 13,-6 13,-10 17,-25 7,-4 9,-7 14,-14 0,0 1,0 1,0 7,5 16,-1 23,-4 7,0 10,-1 28,-2 0,2 0,3 0,4 -1,1 -1,1 -2,1 2,3 1,6 1,10 -1,0 -3,0 -4,0 0,1 0,1 3,1 0,1 0,2 0,3 2,1 4,2 6,3 -4,0 -4,0 -8,3 0,3 0,5 -1,7 0,1 -1,1 -2,2 1,10 0,18 1,29 9,8 16,9 28,11 1,2 2,4 2,6 7,2 8,7 15,9 -2,13 -5,23 -4,37 -6,4 -10,8 -17,9 0,2 0,3 -1,4 -5,2 -6,5 -10,7 2,7 1,12 0,20 -4,0 -4,0 -13,-2 0,1 0,2 0,3 -2,0 -4,0 -6,0z"/>
                </g>
                <g id="Asia" stroke="rgb(156,195,90)" fill="#BDDB8C" visibility="visible">
                <path class='country' id="Afghanistan" (mouseover)="showCountry('Afghanistan')" (click)="highlightCountry('Afghanistan')" d="M651 310c-3,-4 -4,-5 -8,-7 -3,-8 -10,-4 -17,-3 0,-3 0,-5 -1,-7 -1,0 -2,-1 -3,-1 0,-3 0,-5 0,-8 1,0 2,-1 3,-1 0,-3 0,-6 0,-10 -1,0 -2,0 -3,0 1,4 1,4 0,7 -2,-1 -2,-1 -2,-9 -2,-1 -4,-2 -7,-3 1,-6 2,-7 5,-12 0,1 0,2 1,3 0,0 1,0 2,0 0,-3 0,-6 0,-9 -7,0 -11,1 -18,5 4,-14 -7,-21 0,-33 8,-5 22,-6 31,-7 0,1 1,2 1,3 11,-1 14,1 25,-6 0,-2 -1,-15 0,-15 10,0 21,-4 27,7 4,1 15,15 18,19 12,-1 10,9 15,16 -4,4 -5,5 -7,11 -11,3 -5,14 -16,18 0,1 0,2 0,3 -4,1 -7,1 -11,2 0,7 5,19 7,26 -3,1 -5,3 -7,5 -2,-3 -3,-5 -6,-5 0,-1 0,-2 0,-3 -5,-1 -7,-1 -9,4 -6,-1 -8,-1 -11,5 -3,1 -3,1 -9,5z"/>
                <path class='country' id="Inde" (mouseover)="showCountry('Inde')" (click)="highlightCountry('Inde')" d="M713 452c-1,-1 -2,-3 -4,-4 0,-3 1,-7 1,-10 1,0 2,0 4,0 3,5 4,6 4,11 -2,1 -3,2 -5,3z M656 363c0,-6 3,-10 4,-16 -1,0 -2,0 -3,0 -1,-6 -3,-13 -4,-19 -1,-1 -2,-1 -3,-1 0,-6 0,-11 1,-17 6,-4 6,-4 9,-5 3,-6 5,-6 11,-5 2,-5 4,-5 9,-4 0,1 0,2 0,3 3,0 4,2 6,5 2,-2 4,-4 7,-5 2,0 5,0 7,0 1,6 4,6 10,7 0,5 0,11 0,16 -2,0 -3,0 -4,0 0,2 0,3 0,4 7,1 21,10 25,14 4,0 7,1 10,1 0,2 0,3 -1,5 3,0 5,-1 8,-1 0,-1 0,-2 0,-3 2,0 5,-1 8,-1 -1,-2 -1,-3 -1,-5 6,-2 8,-7 13,-8 1,2 2,5 3,8 -3,5 -3,7 -4,13 -1,0 -2,0 -2,0 0,3 0,3 -1,7 -1,0 -2,0 -3,1 -2,4 -3,8 -4,12 -7,4 -12,6 -20,7 -3,7 -13,25 -19,27 -1,11 -5,21 -6,32 -2,0 -3,0 -5,0 0,1 0,2 1,3 -1,1 -2,2 -3,3 -1,0 -3,0 -4,0 -5,-13 -10,-26 -15,-39 0,-15 0,-15 -1,-17 2,-5 2,-5 1,-7 0,2 -1,3 -2,4 -4,0 -8,-1 -9,-5 1,-1 2,-2 4,-2 -2,-1 -3,-2 -4,-2 -1,-1 -1,-2 -1,-3 -4,-1 -4,-3 -5,-7 -5,0 -9,0 -13,0z "/>
                <path class='country' id="Tchita" (mouseover)="showCountry('Tchita')" (click)="highlightCountry('Tchita')" d="M786 217c-11,-10 -5,-34 3,-45 5,-3 5,-3 8,-6 3,0 7,-1 11,-2 2,-2 3,-5 5,-7 8,0 10,-2 29,-1 0,0 0,1 1,2 2,1 5,1 8,1 2,6 3,6 8,9 -1,10 -5,20 -6,30 -4,0 -9,2 -12,-1 -2,1 -4,2 -5,3 0,4 1,8 -4,9 0,5 -1,8 -3,13 -1,0 -2,0 -3,0 0,-2 -1,-4 -1,-7 -4,1 -4,1 -11,5 -9,-1 -19,0 -28,-3z"/>
                <path class='country' id="Kamchatka" (mouseover)="showCountry('Kamchatka')" (click)="highlightCountry('Kamchatka')" d="M853 198c1,-10 5,-20 6,-30 3,-11 12,-13 14,-24 3,0 5,-1 7,-1 0,-1 1,-2 1,-3 3,-1 5,-2 8,-2 1,1 1,3 2,5 2,1 4,1 6,2 0,1 0,2 1,3 2,-1 4,-2 6,-2 1,-3 2,-5 3,-7 1,0 2,0 4,0 0,-3 0,-6 0,-8 -3,-1 -6,-1 -8,-2 0,-3 1,-7 1,-10 7,-3 12,-7 19,-8 1,-2 2,-4 3,-5 1,-1 2,-1 3,-1 0,-1 0,-2 1,-3 4,0 24,8 28,4 -1,0 -3,0 -4,0 0,-1 0,-2 0,-3 -1,0 -2,0 -3,0 0,-1 0,-2 0,-3 6,0 12,0 18,0 1,2 1,3 1,4 2,-1 2,-1 6,-2 -1,1 -1,1 -2,2 2,1 2,1 7,1 8,5 8,5 11,6 2,4 4,5 7,8 0,-1 1,-2 1,-3 4,2 4,2 9,8 1,-1 2,-1 4,-1 -2,4 -2,4 -3,9 -1,0 -3,-1 -5,-1 0,1 0,2 0,2 1,1 3,1 4,1 -1,1 -1,1 -9,1 -2,-1 -2,-1 -2,-5 -1,0 -2,0 -3,-1 0,0 0,-1 0,-2 -3,0 -5,1 -8,1 0,-2 -1,-4 -2,-6 0,3 0,6 0,9 -3,0 -5,0 -8,0 0,1 0,2 0,2 2,1 4,1 6,1 0,2 -1,4 -1,6 1,0 2,0 3,0 0,2 0,4 0,5 -2,0 -4,0 -5,0 -1,-1 -1,-1 -1,-2 -5,3 -11,10 -14,15 -7,-1 -8,-2 -14,1 -1,-1 -2,-3 -3,-4 -1,1 -3,2 -4,4 1,0 2,0 2,1 0,3 -4,3 -4,5 1,0 2,0 3,0 -1,3 -2,5 -3,8 1,0 2,0 3,0 0,6 0,10 -5,12 0,7 -1,9 -4,16 -1,0 -2,1 -2,1 -4,-5 -7,-11 -10,-16 -2,-22 13,-23 19,-40 1,0 2,-1 3,-1 -3,0 -4,0 -7,2 0,1 0,1 1,2 -2,2 -4,4 -5,7 -2,0 -4,0 -5,0 -1,-2 -1,-4 -1,-6 -3,1 -6,1 -9,2 -1,3 -1,3 -2,8 1,0 2,1 3,1 0,1 0,2 0,3 -12,0 -40,-6 -44,6 -5,2 -8,8 -11,13 3,1 7,2 10,3 0,1 0,2 1,3 0,-1 1,-3 1,-4 2,0 4,0 6,1 6,13 7,28 5,43 -3,-2 -5,-3 -8,-4 0,-2 -1,-3 -1,-5 -1,0 -3,0 -4,-1 0,-1 0,-1 0,-2 -3,0 -6,0 -9,0 -3,-9 -10,-8 -12,-18 0,0 -1,-1 -2,-1z M962 99c-1,0 -2,-1 -3,-1 0,-1 1,-2 1,-3 3,-2 3,-2 7,-2 -2,2 -2,2 -3,6 -1,0 -2,0 -2,0z"/>
                <path class='country' id="Moyen Orient" (mouseover)="showCountry('Moyen Orient')" (click)="highlightCountry('Moyen Orient')" d="M548 321c0,-1 -1,-3 -1,-4 4,-2 6,-2 10,-2 -3,4 -4,5 -9,6z M563 353c-1,-5 -3,-10 -4,-15 7,-8 4,-17 6,-28 -1,0 -1,-1 -2,-1 -3,2 -3,2 -11,3 0,0 -1,-1 -2,-2 -3,1 -6,2 -9,3 0,-1 -1,-2 -1,-3 -1,1 -3,1 -5,1 -2,-10 -5,-15 -5,-21 8,-15 0,0 8,-15 2,2 3,4 5,6 3,0 6,0 8,0 0,-1 0,-2 0,-3 9,0 15,-3 20,4 2,-1 6,0 14,-2 1,1 1,1 5,3 1,2 1,4 1,6 2,0 3,0 4,0 1,2 3,5 4,7 4,0 4,0 9,-2 1,8 1,8 2,11 7,1 11,2 17,0 0,-1 0,-3 0,-4 7,-1 13,-5 16,3 4,2 5,3 8,7 -1,6 -1,11 -1,16 1,0 2,0 3,1 1,6 3,13 4,19 1,0 2,0 3,0 -1,6 -4,10 -4,16 -5,1 -11,1 -16,2 0,-2 0,-4 0,-6 -2,0 -6,1 -15,0 -1,-1 -1,-2 -1,-3 -2,0 -3,0 -4,-1 -4,-12 -3,-15 -15,-12 0,4 2,6 4,10 1,0 2,0 3,0 2,4 4,8 6,12 1,-2 2,-3 3,-4 3,2 0,6 0,9 1,1 2,1 3,2 4,-3 8,-6 13,-10 3,8 7,9 10,15 -1,4 -3,7 -5,10 0,0 -1,-1 -1,-1 -1,3 -1,6 -2,9 -1,1 -3,1 -4,1 -4,14 -34,22 -45,26 0,-16 -6,-29 -16,-42 0,-9 -7,-18 -11,-27l0 0z"/>
                <path class='country' id="Mongolie" (mouseover)="showCountry('Mongolie')" (click)="highlightCountry('Mongolie')" d="M836 271c-7,-10 -24,-9 -34,-11 0,-3 0,-6 0,-9 -3,0 -5,-1 -8,-1 -3,-7 -3,-12 -8,-18 0,-2 0,-3 1,-4 -2,-4 -1,-7 -1,-11 9,3 19,2 28,3 7,-4 7,-4 11,-5 0,3 1,5 1,7 1,0 2,0 3,0 2,-5 3,-8 3,-13 5,-1 4,-5 4,-9 1,-1 3,-2 5,-3 3,3 8,1 12,1 1,0 2,1 2,1 2,10 9,9 12,18 3,0 6,0 9,0 0,1 0,1 0,2 1,1 3,1 4,1 0,2 1,3 1,5 3,1 5,2 8,4 -4,5 -8,11 -11,17 -2,0 -3,0 -5,0 0,0 -1,-1 -1,-1 -4,6 -4,10 -9,15 0,1 0,2 0,3 6,3 11,10 11,17 -4,3 -6,5 -11,5 1,-5 1,-6 -2,-10 0,1 -1,1 -1,2 -2,-3 -3,-3 -2,-7 -5,0 -8,0 -12,2 0,-5 1,-5 -1,-9 -3,2 -5,5 -9,8z"/>
                <path class='country' id="Siam" (mouseover)="showCountry('Siam')" (click)="highlightCountry('Siam')" d="M757 369c1,-4 2,-8 4,-12 1,-1 2,-1 3,-1 1,-4 1,-4 1,-7 0,0 1,0 2,0 1,-6 1,-8 4,-13 2,-1 3,-2 5,-2 3,8 3,9 0,16 1,0 3,0 4,0 0,1 0,2 0,3 1,-1 2,-1 2,-1 6,-10 14,-14 20,-3 -3,1 -5,3 -7,5 0,2 -1,5 -1,8 2,0 3,1 5,1 0,2 1,3 1,4 1,1 2,1 3,2 0,0 0,1 0,2 1,0 2,0 3,0 0,9 0,14 -3,21 -2,0 -4,0 -5,0 -2,4 -2,6 -6,8 -1,-2 -1,-2 -2,-6 -1,0 -2,0 -2,0 0,-2 0,-3 0,-4 -3,-1 -5,-1 -7,-2 0,-1 0,-1 0,-2 -1,0 -2,0 -4,0 0,-2 0,-3 0,-4 0,0 -1,0 -1,0 -1,11 -6,13 2,24 3,1 5,2 7,3 1,6 0,11 1,17 -1,0 -2,0 -4,0 -7,-6 -7,-8 -9,-18 0,0 -1,0 -2,0 -7,-12 2,-31 -14,-35 0,-2 0,-3 0,-4z"/>
                <path class='country' id="Chine" (mouseover)="showCountry('Chine')" (click)="highlightCountry('Chine')" d="M803 361c1,-2 1,-3 2,-5 2,0 5,0 7,-1 0,2 0,3 0,4 -3,1 -6,1 -9,2z M802 349c-6,-11 -14,-7 -20,3 0,0 -1,0 -2,1 0,-1 0,-2 0,-3 -1,0 -3,0 -4,0 3,-7 3,-8 0,-16 -2,0 -3,1 -5,2 -1,-3 -2,-6 -3,-8 -5,1 -7,6 -13,8 0,2 0,3 1,5 -3,0 -6,1 -8,1 0,1 0,2 0,3 -3,0 -5,1 -8,1 1,-2 1,-3 1,-5 -3,0 -6,-1 -10,-1 -4,-4 -18,-13 -25,-14 0,-1 0,-2 0,-4 1,0 2,0 4,0 0,-5 0,-11 0,-16 -6,-1 -9,-1 -10,-7 -2,0 -5,0 -7,0 -2,-7 -7,-19 -7,-26 4,-1 7,-1 11,-2 0,-1 0,-2 0,-3 11,-4 5,-15 16,-18 2,-6 3,-7 7,-11 10,3 27,19 38,11 12,7 30,13 44,10 10,2 27,1 34,11 -1,1 -1,1 -4,0 1,1 2,3 3,4 1,0 2,1 4,1 -1,1 -1,2 -1,3 3,0 5,-1 14,0 0,1 0,1 0,2 -6,2 -9,3 -13,6 3,3 3,3 4,6 3,1 3,1 5,2 -1,1 -2,1 -3,2 2,0 3,1 4,1 1,2 1,3 1,5 -2,0 -2,0 -2,1 1,0 1,0 2,0 0,1 0,2 0,4 -1,0 -1,0 -2,0 7,14 -23,43 -36,41 0,1 0,3 0,5 -5,-1 -5,-4 -10,-5z M841 345c1,-8 1,-8 3,-12 1,0 2,0 2,0 0,-1 0,-2 0,-3 2,0 3,0 4,0 -2,8 -2,11 -9,15z "/>
                <path class='country' id="Japon" (mouseover)="showCountry('Japon')" (click)="highlightCountry('Japon')" d="M887 288c0,2 0,3 0,5 0,0 -1,0 -2,0 -1,2 -2,5 -2,7 -2,0 -3,1 -5,1 0,-5 2,-6 2,-10 -1,1 -3,1 -4,2 0,-2 0,-5 0,-8 8,1 8,1 11,3z M887 288c0,-1 -1,-2 -1,-3 4,-6 8,-7 14,-8 0,1 0,2 0,3 -3,5 -6,5 -11,9 0,-1 -1,-1 -2,-1z M900 280c0,-1 0,-2 0,-3 -1,0 -1,-1 -2,-2 -7,2 -13,8 -20,9 0,-1 0,-2 0,-3 5,-2 13,-10 16,-14 2,0 4,1 6,1 -2,-4 -1,-5 0,-9 1,0 2,0 3,0 -1,-7 -2,-9 -1,-15 3,0 3,0 5,1 0,-1 0,-3 0,-5 0,0 1,0 2,0 0,0 -1,-1 -1,-2 -1,0 -2,1 -3,1 0,-1 0,-2 0,-3 -2,2 -2,2 -1,6 -1,0 -3,0 -4,0 0,-2 0,-3 0,-5 2,-4 2,-4 5,-5 0,-1 -1,-3 -1,-5 -1,0 -2,-1 -3,-1 -3,-17 -12,-23 -8,-42 6,3 8,13 8,20 4,3 6,5 7,10 -1,0 -2,-1 -3,-1 0,7 1,13 7,17 0,1 0,2 0,2 1,0 3,0 5,0 0,3 1,5 1,7 -12,2 -3,13 -7,22 1,5 3,8 1,13 -2,0 -4,0 -5,1 0,2 0,3 0,5 -2,1 -5,2 -7,3 0,-1 0,-2 0,-3z "/>
                <path class='country' id="Siberie" (mouseover)="showCountry('Siberie')" (click)="highlightCountry('Siberie')" d="M758 250c-6,-12 1,-24 -14,-27 1,-5 2,-6 2,-9 -6,-4 -11,-8 -13,-14 -12,-5 -16,-18 -18,-31 -3,-4 -4,-9 -8,-10 -1,-7 -1,-9 -5,-15 0,0 -1,1 -1,1 -2,-6 -2,-6 -3,-13 -2,0 -4,-1 -6,-1 1,-2 1,-2 0,-4 0,0 1,0 2,1 1,-3 1,-3 -1,-10 -3,0 -6,0 -9,1 -1,-6 -1,-12 -2,-17 1,-1 2,-2 3,-3 2,6 3,6 9,8 -2,-4 -2,-4 -2,-7 1,0 1,-1 1,-1 8,5 6,11 14,13 0,-1 0,-2 0,-2 -1,0 -2,0 -3,0 0,-1 0,-2 0,-3 -1,0 -1,0 -2,0 0,-3 0,-5 0,-8 0,0 -1,1 -1,1 -3,-3 -4,-4 -4,-9 3,-1 6,-3 9,-4 0,1 0,3 0,4 3,-1 5,-3 7,-5 0,0 -1,-1 -2,-2 8,-3 20,-11 29,-11 3,2 3,2 9,1 1,-2 1,-4 1,-5 9,-4 10,-2 17,3 1,3 1,3 3,3 0,-1 0,-1 0,-2 4,0 9,0 14,1 2,3 1,5 1,9 -5,3 -10,6 -15,9 5,0 8,-4 13,-4 0,1 0,2 1,3 1,0 1,0 2,0 0,-1 0,-2 0,-3 5,1 5,1 7,3 2,-6 9,-4 14,-4 0,1 0,2 1,3 2,1 4,2 6,2 1,6 2,7 2,12 -5,6 -6,12 -8,19 -8,0 -15,0 -23,2 0,1 1,2 1,3 1,1 2,1 3,1 0,1 0,2 0,3 2,1 5,2 8,2 0,1 0,2 0,3 -1,1 -3,2 -4,3 3,8 3,18 4,26 -3,3 -3,3 -8,6 -8,11 -14,35 -3,45 0,4 -1,7 1,11 -1,1 -1,2 -1,4 5,6 5,11 8,18 3,0 5,1 8,1 0,3 0,6 0,9 -14,3 -32,-3 -44,-10z M747 54c1,0 2,0 3,0 1,4 1,4 2,5 1,0 1,0 2,-1 0,2 1,5 2,7 -2,0 -4,0 -6,0 -1,-1 -1,-1 -3,-11z M747 54c-2,3 -2,3 -3,8 -10,-1 -10,-1 -15,-3 1,-12 8,-8 18,-8 0,1 0,2 0,3z M725 53c0,1 1,2 1,4 -4,0 -5,2 -8,2 -1,-2 -1,-2 0,-6 3,0 5,0 7,0z M725 53c-4,-2 -4,-2 -5,-4 1,-1 1,-3 2,-4 6,-1 7,-1 12,3 -3,2 -6,3 -9,5z"/>
                <path class='country' id="Oural" (mouseover)="showCountry('Oural')" (click)="highlightCountry('Oural')" d="M720 239c-5,-7 -3,-17 -15,-16 -3,-4 -14,-18 -18,-19 -6,-11 -17,-7 -27,-7 -1,-2 -1,-4 -2,-5 -1,-1 -3,-1 -4,-1 -1,-16 0,-33 -2,-50 -6,-10 0,-14 7,-22 0,-5 0,-9 1,-13 3,-4 3,-10 7,-14 4,3 8,5 12,7 -4,8 -7,12 1,17 0,5 0,10 -1,15 -3,2 -6,4 -9,6 6,0 6,0 13,-2 2,-4 2,-4 2,-11 1,0 3,0 4,0 1,1 2,2 3,3 1,2 1,2 0,4 2,0 4,1 6,1 1,7 1,7 3,13 0,0 1,-1 1,-1 4,6 4,8 5,15 4,1 5,6 8,10 2,13 6,26 18,31 2,6 7,10 13,14 0,3 -1,4 -2,9 15,3 8,15 14,27 -11,8 -28,-8 -38,-11z"/>
                <path class='country' id="Yakoutie" (mouseover)="showCountry('Yakoutie')" (click)="highlightCountry('Yakoutie')" d="M797 166c-1,-8 -1,-18 -4,-26 1,-1 3,-2 4,-3 0,-1 0,-2 0,-3 -3,0 -6,-1 -8,-2 0,-1 0,-2 0,-3 -1,0 -2,0 -3,-1 0,-1 -1,-2 -1,-3 8,-2 15,-2 23,-2 2,-7 3,-13 8,-19 0,-5 -1,-6 -2,-12 1,0 2,-1 3,-2 -1,0 -3,0 -4,0 0,-1 0,-2 0,-3 7,0 19,-4 22,4 -1,1 -2,1 -3,1 1,2 1,3 1,4 5,0 8,4 13,4 1,-1 2,-3 3,-5 4,3 8,-1 10,2 3,0 5,-1 8,-1 -2,-1 -3,-2 -5,-2 0,-2 0,-4 -1,-5 3,0 6,0 8,-1 0,1 0,2 0,3 4,-2 4,-2 12,-3 0,1 0,2 0,3 -3,0 -3,0 -3,1 15,2 30,4 44,8 0,0 -1,1 -1,1 1,1 3,1 5,2 0,1 0,2 0,3 -1,1 -2,3 -3,5 -7,1 -12,5 -19,8 0,3 -1,7 -1,10 2,1 5,1 8,2 0,2 0,5 0,8 -2,0 -3,0 -4,0 -1,2 -2,4 -3,7 -2,0 -4,1 -6,2 -1,-1 -1,-2 -1,-3 -2,-1 -4,-1 -6,-2 -1,-2 -1,-4 -2,-5 -3,0 -5,1 -8,2 0,1 -1,2 -1,3 -2,0 -4,1 -7,1 -2,11 -11,13 -14,24 -5,-3 -6,-3 -8,-9 -3,0 -6,0 -8,-1 -1,-1 -1,-2 -1,-2 -19,-1 -21,1 -29,1 -2,2 -3,5 -5,7 -4,1 -8,2 -11,2z M857 87c0,-1 1,-3 2,-4 8,0 8,0 9,1 -5,1 -6,2 -11,3z M857 77c-2,7 -11,2 -15,0 0,-1 0,-2 0,-3 2,0 3,0 5,0 0,-1 0,-2 1,-3 1,1 2,1 3,1 0,1 0,2 1,3 1,1 3,1 5,2z M862 77c0,-2 0,-3 0,-4 4,0 4,0 10,4 -3,0 -7,0 -10,0z"/>
                </g>
                <g id="Austrailia" stroke="rgb(214,81,99)" fill="#E78A94" visibility="visible">
                <path class='country' id="Australie Orientale" (mouseover)="showCountry('Australie Orientale')" (click)="highlightCountry('Australie Orientale')" d="M875 600c0,-18 0,-35 0,-52 -14,0 -28,0 -41,0 -1,-13 -2,-25 -3,-38 1,0 2,-1 2,-1 0,-8 6,-9 12,-10 0,-1 0,-2 0,-4 1,0 2,0 3,0 0,2 1,3 2,4 1,-1 1,-1 12,0 -1,4 -3,4 -5,6 0,1 0,3 0,5 7,3 11,6 18,5 2,-4 2,-13 4,-21 1,-1 2,-1 3,-1 1,6 2,10 6,14 0,0 1,-1 1,-1 5,8 5,18 15,21 0,1 0,3 0,4 1,0 2,1 3,1 0,1 1,2 1,3 32,8 6,44 3,62 -8,2 -14,5 -22,6 -1,-1 -2,-2 -3,-3 -2,3 -2,5 0,8 3,0 7,1 10,1 -2,8 -3,10 -11,12 -4,-9 -1,-16 -10,-21z M948 594c-8,-10 -19,-5 -11,-21 7,0 12,-6 13,-13 2,0 4,-1 6,-1 1,-4 3,-7 4,-11 1,0 2,0 3,0 0,2 1,4 1,5 4,1 4,1 5,3 0,1 -1,2 -1,3 1,0 2,0 3,0 -2,2 -2,2 -9,20 -1,0 -2,0 -3,0 -3,6 -5,12 -11,15z M972 556c-1,-8 -2,-9 -7,-14 4,-7 -1,-13 -1,-20 3,3 3,7 6,10 0,0 1,-1 1,-1 1,1 2,3 3,4 2,0 5,1 7,1 0,-1 1,-1 1,-2 1,2 2,4 3,6 -2,7 -2,7 -7,15 -2,0 -4,1 -6,1z "/>
                <path class='country' id="Nouvelle Guinee" (mouseover)="showCountry('Nouvelle Guinee')" (click)="highlightCountry('Nouvelle Guinee')" d="M936 485c-2,-1 -5,-2 -8,-3 -2,-3 -2,-5 -6,-6 0,-1 0,-2 0,-3 -1,0 -2,0 -3,0 -1,8 -12,2 -18,1 1,-2 2,-4 3,-6 -1,-1 -2,-1 -3,-1 0,-1 0,-2 -1,-3 -2,-1 -4,-2 -6,-2 0,-1 1,-1 1,-2 -1,0 -2,0 -4,0 0,1 0,1 0,2 -1,0 -2,0 -3,-1 0,-1 0,-3 -1,-4 3,0 3,0 3,-1 -1,0 -3,0 -4,0 0,-2 0,-3 0,-4 -1,0 -2,-1 -2,-1 4,-4 9,-4 14,-2 -1,2 -2,4 -3,6 1,0 2,0 3,1 0,1 0,1 0,2 2,-1 4,-3 6,-4 0,-1 -1,-1 -1,-2 2,-2 21,8 24,10 1,2 2,4 3,6 1,0 2,0 3,1 0,1 0,2 1,3 -2,0 -3,0 -4,0 1,2 1,3 2,5 1,0 2,0 3,0 0,1 0,3 0,4 1,1 3,1 5,2 -1,0 -3,1 -4,2z M955 461c0,1 0,2 -1,3 -8,3 -8,3 -19,5 -1,-1 -1,-2 -1,-3 7,-2 14,-3 21,-5z M955 461c-4,-3 -4,-3 -7,-4 0,-1 0,-2 0,-3 3,1 6,2 10,3 0,1 0,2 1,3 -1,0 -3,1 -4,1z "/>
                <path class='country' id="Australie Occidentale" (mouseover)="showCountry('Australie Occidentale')" (click)="highlightCountry('Australie Occidentale')" d="M831 510c1,13 2,25 3,38 13,0 27,0 41,0 0,17 0,34 0,52 -2,-1 -3,-1 -5,-1 0,-3 -1,-6 -2,-9 -4,0 -4,0 -5,-2 1,0 2,-1 3,-1 0,-1 0,-2 0,-3 -1,2 -1,2 -5,2 1,-1 2,-3 3,-4 -2,0 -5,1 -8,2 -2,-4 -4,-7 -5,-10 -12,-2 -25,-1 -32,9 -5,0 -8,-1 -13,-1 -11,6 -19,10 -30,5 2,-7 2,-11 1,-18 -5,-14 -5,-14 -5,-17 1,0 1,0 2,0 -2,-5 -1,-10 0,-15 1,0 3,0 4,0 0,-1 0,-1 0,-2 7,-4 14,-6 21,-9 0,-1 0,-2 0,-3 9,-3 12,-9 21,-12 0,-1 1,-2 1,-4 1,1 1,1 2,2 0,-1 0,-2 0,-3 1,0 3,-1 4,-1 1,1 2,2 3,3 -1,0 -1,1 -1,1 0,0 1,1 2,1z"/>
                <path class='country' id="Indonesie" (mouseover)="showCountry('Indonesie')" (click)="highlightCountry('Indonesie')" d="M838 474c0,0 1,-1 2,-1 3,-1 3,-1 6,1 -3,2 -7,4 -11,6 0,-2 0,-3 0,-4 1,-1 2,-1 3,-2z M822 476c0,0 0,0 0,1 -2,-1 -4,-1 -6,-1 0,0 0,1 0,2 -10,-2 -10,-2 -30,-2 0,-1 0,-2 0,-3 -2,-1 -5,-2 -7,-3 0,-2 0,-4 0,-6 -2,0 -3,0 -4,0 -3,-8 -6,-11 -8,-18 -1,0 -2,-1 -2,-1 -1,-4 -1,-4 -4,-10 -1,0 -2,0 -3,0 0,-2 -1,-4 -1,-6 5,1 5,1 13,4 2,6 5,8 7,13 1,0 2,-1 3,-1 1,6 2,7 8,8 0,1 0,2 0,3 -1,0 -2,1 -3,1 1,1 1,3 2,4 0,0 1,-1 1,-1 2,2 0,4 4,6 0,1 0,2 0,3 0,1 1,1 2,1 0,-1 0,-2 0,-2 9,-1 16,3 26,5 0,1 0,2 0,3 0,0 1,0 2,0z M822 476c3,-6 13,-3 18,-3 -1,0 -2,1 -2,1 -2,0 -3,0 -4,0 0,1 0,2 0,3 -4,-1 -8,-1 -12,-1z M821 465c1,-11 4,-16 10,-24 5,0 10,0 15,-2 0,0 0,1 0,2 -4,2 -8,4 -13,3 0,1 0,2 -1,3 3,0 6,0 8,0 -1,2 -1,2 -6,2 0,4 0,8 0,12 -2,0 -4,0 -5,0 0,-2 0,-4 0,-7 -1,0 -1,0 -2,0 -1,4 -1,7 -2,11 -2,0 -3,0 -4,0z M802 460c-2,-4 -4,-5 -3,-9 -1,0 -2,0 -2,0 -1,-5 0,-7 2,-12 2,0 4,-1 7,-2 0,-1 0,-2 0,-3 3,-1 6,-2 8,-3 1,-3 2,-5 3,-7 1,0 2,0 3,0 0,-2 0,-3 1,-4 4,0 5,0 9,1 0,1 0,2 0,3 -1,0 -2,0 -3,1 1,0 1,1 2,2 -3,3 -6,8 -2,13 -7,5 -8,10 -11,17 -3,2 -3,2 -14,3z M841 458c0,-1 0,-1 0,-2 7,-1 11,-2 17,2 -6,0 -11,0 -17,0z M849 445c0,-2 0,-5 0,-8 1,1 2,1 3,1 0,3 1,5 1,7 -1,0 -3,0 -4,0z M875 394c0,-1 0,-1 1,-2 0,0 1,0 2,-1 0,4 0,4 -2,7 -1,0 -3,1 -4,1 1,-2 2,-4 3,-5z M853 396c1,-5 8,-10 12,-14 0,8 -4,13 -12,14z M876 392c-1,1 -1,1 -1,2 -1,0 -2,0 -3,0 0,-6 -3,-8 -4,-12 4,0 8,4 12,6 -2,0 -3,1 -4,2 0,1 0,1 0,2z M881 388c0,-2 -1,-5 -1,-8 -3,0 -5,0 -8,0 -1,-1 -1,-2 -2,-3 0,0 -1,0 -2,0 -2,-1 -3,-1 -4,-4 2,0 3,0 4,0 0,-2 0,-2 -2,-2 -1,-3 -1,-6 -1,-9 1,1 2,3 3,4 -2,-5 -2,-5 -1,-11 3,0 6,0 9,0 0,2 -1,3 -1,5 1,0 1,0 2,1 0,2 -1,4 -2,6 0,0 -1,-1 -1,-1 0,2 0,4 1,7 2,0 4,1 6,2 2,5 3,7 3,12 -1,1 -2,1 -3,1z "/>
                </g>
                <g id="Europe" stroke="rgb(148,130,173)" fill="#CEBADE" visibility="visible">
                <path class='country' id="Grande Bretagne" (mouseover)="showCountry('Grande Bretagne')" (click)="highlightCountry('Grande Bretagne')" d="M455 226c-7,2 -23,9 -30,8 0,-1 -1,-2 -1,-3 4,-2 8,-5 12,-7 -2,0 -4,-1 -6,-1 2,-6 2,-6 3,-12 1,0 3,0 5,0 0,-3 -1,-5 1,-8 -1,0 -2,-1 -3,-1 0,-1 0,-3 0,-4 -1,0 -2,0 -3,0 0,-9 2,-13 3,-21 5,-2 5,-2 8,-2 1,2 1,2 0,6 2,1 4,2 6,3 -8,11 0,20 2,33 1,0 2,0 3,1 0,2 0,5 0,8z M415 226c-1,-5 1,-9 0,-20 1,-1 2,-1 4,-2 -1,-2 -1,-2 0,-5 5,0 8,0 13,2 0,3 0,6 0,9 -1,0 -2,0 -3,0 -1,10 -3,14 -14,16z"/>
                <path class='country' id="Islande" (mouseover)="showCountry('Islande')" (click)="highlightCountry('Islande')" d="M425 156c-2,-1 -5,-2 -8,-2 0,-2 0,-3 -1,-5 3,0 3,0 3,-1 -1,0 -3,0 -4,0 0,-1 0,-2 0,-3 1,0 3,0 4,0 0,0 0,-1 0,-1 -1,0 -3,0 -4,0 0,-1 1,-2 1,-3 4,-2 4,-2 8,-1 0,0 0,1 0,2 7,0 15,-1 23,-1 1,1 2,1 3,2 -1,1 -1,1 -2,2 1,0 2,0 3,0 -2,12 -17,10 -26,11z"/>
                <path class='country' id="Europe du Nord" (mouseover)="showCountry('Europe du Nord')" (click)="highlightCountry('Europe du Nord')" d="M470 242c-2,-3 -3,-4 -6,-4 -2,-5 -6,-7 -9,-11 0,0 0,-1 0,-1 2,-3 4,-6 7,-7 2,-8 2,-8 4,-9 0,0 0,1 1,1 3,-4 6,-6 1,-10 0,-4 1,-8 2,-12 4,-2 5,-3 7,-7 1,6 3,15 -2,19 5,3 9,4 14,5 0,-1 1,-2 1,-3 1,1 2,2 2,3 4,-4 9,-4 14,-5 0,1 -1,2 -1,3 1,0 1,0 2,1 0,-1 0,-2 0,-3 1,0 3,-1 4,-1 3,2 6,4 9,6 2,8 3,14 3,23 -1,0 -2,0 -3,0 0,2 -1,3 -1,5 -2,5 -2,5 -4,16 -6,4 -8,3 -15,2 -1,-15 2,-14 -12,-15 0,2 -1,3 -1,5 -8,2 -10,2 -17,-1z"/>
                <path class='country' id="Scandinavie" (mouseover)="showCountry('Scandinavie')" (click)="highlightCountry('Scandinavie')" d="M541 95c-9,16 1,39 1,57 -3,4 -6,8 -7,13 0,0 -1,0 -2,0 -8,1 -10,2 -19,2 -5,-7 -3,-12 -3,-20 1,0 2,0 3,0 4,-8 7,-11 7,-20 -2,1 -4,1 -6,2 -4,9 -8,15 -14,23 0,7 3,15 2,21 -1,0 -1,0 -2,0 -1,1 -1,3 -1,4 -1,1 -2,1 -3,1 -1,10 -1,17 -11,18 -2,-8 -7,-13 -6,-22 -1,0 -1,0 -2,0 -1,-1 -1,-1 -1,-2 -1,2 -3,4 -4,7 -5,0 -7,-1 -12,-3 -2,-11 -3,-12 -4,-21 1,-1 2,-1 2,-1 0,-2 0,-2 0,-3 0,-1 1,-1 2,-1 0,-1 -1,-1 -1,-1 3,-4 6,-3 8,-8 0,0 1,0 2,0 1,-1 2,-3 2,-5 5,1 5,-3 6,-7 1,0 2,-1 4,-2 -1,0 -1,-1 -1,-1 3,-4 3,-4 6,-15 1,0 1,1 2,1 0,-1 0,-2 0,-2 1,0 2,0 3,0 0,-4 0,-7 0,-11 3,-1 5,1 7,0 0,-1 -1,-3 -1,-4 4,-1 4,1 8,1 1,-4 1,-5 5,-5 0,-1 -1,-2 -1,-4 3,-3 8,-2 11,-2 0,2 0,2 2,2 0,-2 0,-3 0,-5 1,-1 3,-1 5,-1 -1,5 -1,5 0,6 1,-2 2,-3 3,-5 4,1 7,3 11,4 0,1 0,2 0,3 0,1 -1,2 -2,3 0,1 0,2 1,3z M557 48c1,0 2,0 3,1 0,1 0,2 0,2 -1,0 -2,0 -3,0 -1,5 -1,5 -5,5 -2,2 -4,5 -6,7 -2,-1 -3,-1 -4,-2 0,0 1,-1 1,-1 -1,-1 -2,-1 -3,-2 0,-3 0,-3 1,-4 -2,-1 -3,1 -6,0 0,-4 -2,-4 -3,-8 5,1 10,1 15,-1 1,1 1,3 2,4 1,-2 2,-5 4,-7 0,2 1,4 2,6 0,0 1,0 2,0z M560 61c-1,-1 -2,-2 -3,-3 1,-1 1,-2 1,-4 3,0 5,0 7,-1 -1,1 -1,1 -1,2 0,0 1,1 2,1 -2,3 -2,3 -6,5z M557 48c0,-3 0,-5 0,-7 2,0 4,0 6,0 0,1 0,2 1,3 2,0 4,0 6,0 0,1 -1,3 -1,5 -3,0 -5,0 -8,0 0,0 1,0 1,-1 -1,0 -3,0 -5,0z"/>
                <path class='country' id="Europe du Sud" (mouseover)="showCountry('Europe du Sud')" (click)="highlightCountry('Europe du Sud')" d="M521 316c-1,-2 -1,-2 -4,-3 0,-1 0,-2 0,-3 10,1 10,1 15,3 0,1 0,2 1,3 -4,0 -8,0 -12,0z M474 288c-1,-3 -1,-6 -2,-10 1,0 2,0 3,0 0,3 0,6 1,9 -1,0 -2,1 -2,1z M527 289c-1,0 -2,0 -3,0 0,0 1,1 1,1 -1,0 -2,0 -2,1 0,-3 0,-3 -2,-3 1,7 4,16 -2,21 0,0 -1,-1 -1,-1 0,0 -1,1 -1,1 -3,-6 -3,-6 -5,-18 -1,0 -1,0 -2,0 -2,-6 -5,-11 -7,-15 -6,-2 -12,-13 -16,-19 -4,6 7,20 12,22 3,4 6,9 8,13 -2,-1 -3,-2 -5,-4 -3,4 -2,6 0,9 -1,0 -2,0 -3,0 -2,3 -4,6 -6,8 -1,1 -2,1 -2,1 -2,-2 -3,-3 -4,-4 1,-1 1,-1 6,-1 1,-3 2,-5 3,-7 -3,-6 -9,-14 -13,-17 0,0 0,0 0,-1 -1,-1 -2,-1 -3,-1 -1,-3 -2,-5 -2,-8 -2,0 -5,0 -7,0 0,1 -1,2 -1,2 -8,-4 -5,-21 1,-26 7,3 9,3 16,1 0,-2 1,-3 1,-5 14,1 11,0 12,15 7,1 9,2 15,-2 2,-11 2,-11 4,-16 4,-2 4,-2 8,-2 0,1 0,2 1,3 1,1 2,1 3,1 2,10 2,17 10,22 -3,4 -4,9 -6,14 -8,15 0,0 -8,15z"/>
                <path class='country' id="Ukraine" (mouseover)="showCountry('Ukraine')" (click)="highlightCountry('Ukraine')" d="M583 279c1,-9 -5,-13 -12,-15 0,-2 -1,-4 -1,-6 -1,0 -2,0 -3,0 1,-5 3,-7 6,-10 -5,1 -10,1 -13,5 2,1 2,1 5,1 0,1 0,1 0,2 -1,1 -2,1 -3,1 0,1 -1,2 -1,3 -5,0 -5,0 -10,-3 1,-2 1,-2 1,-4 -1,0 -3,1 -4,1 -1,0 -2,-1 -2,-1 3,-2 3,-2 3,-3 -1,0 -3,0 -5,0 0,2 0,5 0,8 -2,0 -2,0 -2,1 -9,-5 -9,-12 -11,-22 -1,0 -2,0 -3,-1 -1,-1 -1,-2 -1,-3 -4,0 -4,0 -8,2 0,-2 1,-3 1,-5 1,0 2,0 3,0 0,-9 -1,-15 -3,-23 -3,-2 -6,-4 -9,-6 0,-3 -1,-6 -1,-8 1,0 1,0 2,0 1,-4 3,-7 4,-11 1,0 2,-1 3,-1 0,1 -1,3 -1,4 2,0 3,1 5,1 0,-2 0,-4 0,-6 -1,0 -2,0 -3,0 0,-1 1,-2 1,-3 -1,-1 -2,-1 -2,-1 0,-1 0,-2 1,-3 3,-1 3,-1 6,1 6,-3 6,-3 12,-4 -1,-3 -2,-3 -5,-5 1,0 2,0 2,0 1,-5 4,-9 7,-13 0,-18 -10,-41 -1,-57 4,-3 5,-3 11,-3 0,2 0,3 0,4 7,1 32,14 23,23 -5,2 -5,2 -19,3 0,-1 -1,-3 -1,-3 -2,-1 -3,-1 -4,-1 1,6 6,9 11,11 0,3 -1,5 -1,7 6,0 11,-1 17,1 -1,-2 -1,-4 -2,-6 4,-2 5,-2 9,-2 1,-2 3,-4 4,-7 -1,0 -2,-1 -3,-1 0,-4 -2,-9 0,-13 5,1 8,2 10,7 -1,0 -2,0 -3,0 0,2 0,4 1,6 1,0 3,0 4,0 1,-2 1,-3 1,-5 5,0 6,-3 11,-3 0,-2 1,-3 1,-5 5,-2 8,-4 14,-4 -1,0 -3,1 -4,2 0,1 0,1 0,2 5,-1 7,-2 12,-1 0,-1 1,-3 2,-4 0,1 0,2 0,3 2,0 3,0 4,0 -1,-4 -1,-4 -2,-7 0,0 0,-1 1,-1 4,0 6,2 19,4 1,2 1,2 3,4 -1,4 -1,8 -1,13 -7,8 -13,12 -7,22 2,17 1,34 2,50 1,0 3,0 4,1 1,1 1,3 2,5 -1,0 0,13 0,15 -11,7 -14,5 -25,6 0,-1 -1,-2 -1,-3 -9,1 -23,2 -31,7 -7,12 4,19 0,33 -2,5 -6,11 1,13 0,4 0,7 0,11 2,1 5,2 7,2 -1,4 -3,8 -4,12 -5,2 -5,2 -9,2 -1,-2 -3,-5 -4,-7 -1,0 -2,0 -4,0 0,-2 0,-4 -1,-6 -5,-2 -5,-2 -6,-3z M638 98c-1,0 -1,1 -1,1 -2,-1 -3,-1 -5,-2 0,-5 0,-5 1,-6 2,2 3,5 5,7z M615 86c-4,-2 -8,-4 -12,-6 2,-4 3,-7 7,-9 -1,-1 -1,-1 -2,-2 5,-5 5,-5 12,-8 0,-1 0,-2 0,-3 10,-2 10,-2 13,-4 0,2 0,3 0,4 -3,3 -9,6 -16,11 0,1 0,1 0,2 -1,0 -1,0 -2,0 0,7 2,8 4,14 -2,0 -3,0 -4,1z"/>
                <path class='country' id="Europe Occidentale" (mouseover)="showCountry('Europe Occidentale')" (click)="highlightCountry('Europe Occidentale')" d="M428 312c-1,-2 -3,-3 -4,-5 -3,0 -6,0 -9,0 -3,-11 -2,-19 -1,-31 0,0 0,-1 -1,-1 3,-12 15,-7 26,-7 5,-6 0,-16 -1,-22 -4,-1 -4,-1 -8,-4 3,-1 3,-1 4,-4 1,0 2,0 3,0 0,1 0,1 0,2 6,-2 6,-2 7,-3 0,0 -1,0 -2,-1 0,-1 0,-1 0,-2 2,0 5,0 8,0 1,-1 1,-1 2,-5 3,0 3,0 3,-2 3,4 7,6 9,11 3,0 4,1 6,4 -6,5 -9,22 -1,26 -1,1 -1,2 -1,3 -4,0 -8,0 -12,1 -6,11 -7,12 -7,25 -1,3 -4,5 -6,8 -6,1 -10,2 -14,7 0,0 -1,0 -1,0z"/>
                </g>
                <g id="North America" stroke="rgb(201,155,50)" fill="#EFCB73" visibility="visible">
                <path class='country' id="Alaska" (mouseover)="showCountry('Alaska')" (click)="highlightCountry('Alaska')" d="M109 174c1,1 2,2 3,3 0,2 0,4 0,7 -1,-3 -3,-5 -5,-8 1,0 1,-1 2,-2z M105 164c0,-1 0,-2 0,-3 3,0 3,0 3,-1 -3,-1 -6,-3 -8,-4 -1,1 -1,2 -1,2 -2,0 -4,-1 -6,-2 0,-1 0,-2 0,-3 0,-1 -1,-1 -2,-1 0,1 -1,1 -1,2 -1,0 -2,-1 -3,-1 1,-1 1,-1 2,-2 -1,0 -2,-1 -2,-1 0,0 -1,1 -1,2 -3,-1 -3,-2 -5,-5 -3,0 -3,0 -6,-2 -1,0 -1,0 -2,1 1,1 2,3 3,5 -8,2 -13,4 -17,5 0,-1 0,-3 0,-4 3,-2 5,-4 8,-6 -6,1 -10,7 -15,6 0,2 0,4 0,5 -2,2 -5,4 -7,5 0,1 0,2 0,3 -6,3 -24,13 -29,9 5,-4 10,-6 16,-8 0,0 0,-1 0,-2 4,-1 4,-3 5,-7 -2,1 -5,1 -7,1 0,-2 0,-2 -2,-2 0,1 0,2 0,2 -1,1 -3,1 -5,1 0,-3 0,-3 2,-7 -1,0 -2,0 -3,0 -1,-5 -3,-4 -6,-3 -1,-2 -1,-4 -2,-6 2,-1 3,-2 4,-2 -1,-1 -2,-1 -2,-1 0,-2 0,-4 1,-5 5,-3 9,-1 15,0 2,-3 5,-6 4,-9 -7,4 -8,3 -14,-2 1,-1 2,-3 3,-5 1,0 1,1 1,1 0,-2 0,-3 0,-5 3,0 6,0 9,0 -2,-4 -5,-8 -4,-12 1,-1 2,-1 4,-1 0,-1 0,-2 0,-3 9,-2 19,-9 29,-8 0,1 -1,2 -1,3 13,0 26,5 40,6 0,17 0,33 0,49 2,0 5,0 7,0 8,10 12,20 12,32 -4,-2 -11,-12 -13,-17 -1,0 -3,0 -4,0z M44 172c0,-3 2,-8 6,-7 1,1 1,2 1,3 -2,1 -5,2 -7,4z"/>
                <path class='country' id="Alberta" (mouseover)="showCountry('Alberta')" (click)="highlightCountry('Alberta')" d="M136 205c-1,-1 -2,-3 -4,-4 0,-2 1,-4 1,-6 -3,-3 -6,-6 -8,-8 -1,0 -3,0 -4,0 0,-2 0,-3 0,-5 1,1 1,1 1,2 0,-1 0,-2 0,-3 0,-12 -4,-22 -12,-32 34,2 69,4 103,6 -1,17 -3,35 -4,52 -24,-1 -49,-1 -73,-2z"/>
                <path class='country' id="Amerique Centrale" (mouseover)="showCountry('Amerique Centrale')" (click)="highlightCountry('Amerique Centrale')" d="M212 363c-3,-4 -6,-9 -9,-14 0,-7 0,-7 -2,-16 -10,-6 -18,-11 -28,-16 0,-1 0,-2 0,-3 1,0 3,0 4,0 0,-1 -1,-3 -1,-4 -9,-7 -11,-18 -16,-27 -1,0 -1,1 -2,1 4,11 8,20 11,32 -6,-2 -9,-10 -10,-16 -4,-1 -5,-2 -7,-6 0,-1 1,-1 1,-2 -2,-6 -3,-10 -8,-13 -1,-1 -1,-3 -1,-4 4,0 9,0 14,0 8,9 18,0 27,10 2,0 4,1 6,2 2,2 4,4 6,6 -2,8 -2,22 5,26 4,0 8,0 12,0 4,-4 11,-4 14,2 -2,5 -9,8 -13,11 2,1 4,2 6,3 0,2 0,4 0,6 -6,4 -8,5 -11,11 0,1 1,2 1,2 6,1 8,0 13,4 -5,3 -8,3 -12,5z"/>
                <path class='country' id="Etat de l Est" (mouseover)="showCountry('Etat de l Est')" (click)="highlightCountry('Etat de l Est')" d="M197 293c-2,-2 -4,-4 -6,-6 0,-4 0,-9 0,-13 1,0 3,0 5,-1 1,-4 2,-8 3,-13 2,0 5,-1 8,-1 0,-3 1,-6 2,-9 6,0 12,0 18,0 1,-15 1,-29 2,-43 3,1 6,1 9,1 1,1 2,2 3,3 0,1 0,2 0,3 -1,0 -2,0 -3,0 0,1 0,2 0,3 5,-1 9,-1 13,-2 1,1 2,2 2,3 2,-1 2,-1 6,0 0,1 0,2 0,3 -2,0 -4,0 -5,0 -4,6 -6,9 -7,17 2,-1 4,-1 5,-2 1,-3 1,-7 2,-10 1,0 1,0 2,0 1,-3 2,-4 4,-5 3,3 2,5 0,9 1,0 3,0 4,0 0,0 0,1 0,1 0,2 -1,4 -1,6 7,1 13,-5 20,-7 0,-1 0,-1 0,-2 3,-1 6,-2 9,-3 7,0 7,0 17,-2 0,-2 0,-4 1,-5 5,-2 5,-2 9,-2 0,4 0,8 0,13 -15,1 -18,18 -33,21 -1,1 -2,3 -3,5 -1,0 -1,-1 -2,-1 0,2 0,4 0,6 -4,5 -11,9 -17,11 -1,4 -1,4 -3,8 0,8 0,15 -3,22 -2,1 -4,1 -6,2 -2,-14 -2,-14 -1,-20 -8,0 -10,-1 -20,-2 0,2 1,4 1,6 -10,-5 -19,-4 -30,0 -3,5 -3,5 -5,6z"/>
                <path class='country' id="Groenland" (mouseover)="showCountry('Groenland')" (click)="highlightCountry('Groenland')" d="M373 174c-4,-2 -6,-3 -8,-8 -2,0 -4,0 -7,-1 0,-1 0,-2 -1,-3 -1,0 -2,0 -2,-1 -1,-1 -1,-3 -1,-5 -2,-1 -3,-1 -4,-2 0,-1 1,-1 2,-2 -1,-4 -2,-7 -3,-11 0,0 -1,-1 -2,-1 0,-2 0,-4 0,-5 1,-1 2,-1 3,-1 -4,-3 -2,-5 0,-9 1,1 1,1 2,2 0,-2 1,-5 2,-7 2,0 2,0 2,-1 -2,0 -4,0 -6,0 0,1 1,2 1,4 -1,0 -3,0 -4,0 0,-1 0,-3 0,-4 0,-1 1,-1 1,-2 -1,0 -1,0 -2,-1 1,-4 1,-4 2,-6 6,3 6,3 8,3 -1,-2 -2,-4 -3,-6 -2,1 -3,1 -5,1 0,-10 -2,-22 -12,-25 0,-1 0,-2 0,-4 -1,0 -3,1 -4,1 -2,-2 -2,-2 -3,-5 -7,1 -9,5 -17,3 -1,-3 -1,-3 -2,-3 0,1 0,2 0,3 -5,-1 -5,-1 -8,-2 -1,-4 -1,-7 -2,-10 3,-1 3,-1 10,1 0,-1 0,-2 0,-3 -2,0 -5,0 -8,-1 2,-7 10,-3 16,-7 -2,-1 -3,-2 -4,-3 6,-3 10,-5 17,-7 0,-1 0,-2 0,-2 2,0 4,0 6,0 1,-4 1,-4 4,-5 1,0 2,1 3,2 0,-2 1,-4 2,-5 3,0 5,4 6,4 0,-1 0,-2 0,-3 2,0 3,1 4,1 1,-1 1,-2 1,-2 2,-1 4,-1 6,-1 0,1 1,2 1,3 2,-1 2,-1 10,-3 0,0 -1,-1 -1,-1 1,-2 1,-2 13,-2 -1,-3 -1,-6 -1,-9 3,0 6,0 10,-1 0,1 0,2 0,3 0,0 1,0 2,0 3,-9 19,-7 26,-7 0,1 0,2 0,3 13,3 22,7 36,8 0,1 0,2 0,3 -2,0 -4,1 -6,2 5,-1 10,-3 13,0 -4,4 -6,4 -13,4 0,1 0,2 0,3 4,0 9,-1 12,2 0,-1 1,-1 1,-2 7,-1 14,-1 21,-2 1,1 1,2 2,3 -1,1 -1,1 -10,3 1,0 1,2 1,3 -1,0 -2,0 -4,0 -2,4 -3,9 -7,10 -1,3 -1,6 -1,9 1,0 2,0 3,0 0,2 0,3 0,4 0,1 -1,1 -2,1 0,2 0,4 0,6 -1,0 -2,1 -3,1 0,1 0,2 0,3 2,0 4,0 6,1 0,1 0,3 0,4 -8,1 -7,5 -8,11 -2,0 -2,-3 -3,-3 0,1 0,2 0,3 -3,-1 -6,-4 -9,-1 2,1 4,2 7,3 0,3 1,6 2,9 -2,2 -3,4 -4,6 -2,-1 -2,-1 -5,-1 -3,-4 -4,-8 -5,-8 0,1 0,3 0,5 -2,1 -3,1 -5,2 3,1 6,1 9,2 -1,1 -2,3 -2,4 -10,3 -18,8 -28,10 0,0 0,-1 0,-2 -5,4 -7,6 -12,6 0,1 0,2 0,3 -7,2 -14,2 -20,4 0,7 -4,10 -8,16 -2,8 -4,12 -8,18z"/>
                <path class='country' id="territoire du Nord Ouest" (mouseover)="showCountry('territoire du Nord Ouest')" (click)="highlightCountry('territoire du Nord Ouest')" d="M213 155c-34,-2 -69,-4 -103,-6 -2,0 -5,0 -7,0 0,-16 0,-32 0,-49 2,2 5,3 7,4 1,-1 1,-2 1,-3 4,-1 4,-1 10,-1 0,0 0,1 1,1 -1,0 -2,1 -3,1 7,2 7,2 9,3 5,-3 13,-3 18,-3 0,0 -1,-1 -1,-1 2,0 4,0 6,0 3,-3 4,-3 8,-3 0,1 -1,2 -1,3 2,0 4,-1 10,-2 0,1 0,2 0,3 -1,0 -2,0 -3,0 0,1 0,1 0,2 9,-4 18,2 27,4 0,1 0,2 0,3 -1,0 -2,0 -2,0 0,1 0,2 0,3 6,0 9,-1 15,-2 0,1 0,2 0,3 1,0 2,0 3,0 0,-1 0,-2 0,-3 1,0 2,0 4,0 0,-1 -3,-1 -3,-2 9,-1 13,0 22,2 -1,15 -2,29 -3,44 -5,-1 -10,-1 -15,-1z M228 156c1,-15 2,-29 3,-44 2,0 4,-1 6,-1 -1,-4 -1,-4 -2,-6 3,-1 5,-1 8,-1 0,2 0,3 0,4 2,0 4,0 6,0 0,-1 0,-1 0,-2 -1,0 -2,0 -3,0 3,-17 9,-26 26,-28 -4,6 -5,10 -12,10 -2,10 0,14 3,23 1,-1 2,-3 2,-4 2,1 3,1 4,2 1,2 1,4 1,6 2,0 3,0 4,0 0,-1 0,-2 0,-3 1,0 2,-1 3,-1 0,-1 1,-3 1,-4 3,0 5,0 8,0 0,0 0,-1 0,-1 -3,0 -5,0 -8,0 0,-1 0,-2 -1,-3 0,0 -1,1 -1,1 -4,-6 -3,-7 -2,-15 5,-2 8,-4 14,-4 -1,2 -3,4 -4,6 0,2 1,4 1,5 2,-3 3,-5 6,-7 0,-2 1,-4 1,-6 4,0 8,0 12,0 -2,4 -3,7 -4,11 2,0 4,0 6,0 0,-6 0,-6 1,-7 9,5 9,5 10,6 0,1 0,2 -1,3 8,1 8,1 9,2 0,1 -1,1 -1,2 1,0 3,0 4,0 0,1 -1,2 -1,3 2,1 5,3 7,4 0,1 -1,2 -1,3 -1,0 -3,0 -4,0 0,0 0,1 0,2 1,0 3,0 4,0 0,1 0,2 0,3 2,0 3,0 5,0 1,2 2,5 3,8 1,0 1,0 2,0 -1,2 -2,4 -3,5 -2,1 -3,1 -4,1 -2,-2 -2,-2 -4,-7 -1,1 -1,1 -1,7 1,1 2,2 3,3 -1,3 -1,6 -1,9 -4,0 -5,0 -8,-3 0,2 0,2 2,6 -8,-1 -14,-2 -16,-10 -5,0 -10,0 -15,-1 0,-1 1,-2 1,-3 9,-3 13,-5 18,-6 0,-1 -1,-2 -1,-3 -1,0 -3,0 -4,1 0,-2 -1,-3 -1,-5 -2,0 -4,0 -7,1 1,-1 1,-3 1,-3 1,-1 2,-1 3,-1 0,-1 0,-2 0,-3 -1,0 -2,0 -2,0 -1,-3 -1,-5 -2,-8 -1,0 -1,0 -1,3 -3,0 -5,1 -8,2 0,-1 -1,-2 -1,-2 -1,0 -3,0 -4,1 0,12 -4,20 -18,19 -2,3 -2,4 -5,5 -3,-2 -4,-4 -7,-4 1,2 3,4 5,6 -5,5 -13,8 -20,12 -1,4 -3,7 -5,11 -3,0 -6,0 -10,0z M264 145c1,-5 3,-10 6,-15 2,1 4,1 5,1 0,1 0,2 0,2 1,0 2,0 3,0 1,4 2,4 5,6 -1,2 -1,2 -2,5 -1,0 -2,0 -3,0 0,-1 0,-3 0,-4 -6,1 -8,4 -14,5z M296 124c-1,-6 -1,-6 5,-8 0,2 0,4 0,6 -2,0 -3,1 -5,2z M195 110c-1,-3 -3,-6 -4,-8 -4,-1 -9,-1 -13,-2 -1,-2 -2,-5 -2,-8 2,0 4,-1 6,-2 -1,0 -3,0 -4,-1 1,-1 1,-1 9,-3 -2,0 -4,-1 -5,-1 -1,-1 -1,-2 -1,-3 6,-1 7,-2 14,-2 3,4 5,3 9,5 -1,1 -1,1 -2,1 3,1 6,2 8,2 1,-2 1,-2 3,-3 2,3 2,4 5,5 1,-4 3,-8 4,-12 3,6 3,10 2,17 3,1 5,2 8,3 0,1 0,1 0,2 -1,1 -2,1 -3,1 1,0 1,1 2,1 -2,1 -3,1 -4,2 0,1 1,2 1,3 -4,0 -5,0 -9,-2 -8,2 -16,3 -24,5z M235 95c-1,-3 -2,-6 -2,-9 0,-1 1,-2 2,-3 1,1 1,2 1,3 1,-2 2,-3 3,-4 0,0 1,1 1,1 0,-1 1,-2 1,-2 1,0 2,0 4,0 -1,1 -1,3 -2,5 3,-1 6,-2 8,-2 -3,5 -3,5 -6,6 0,1 0,2 0,2 -4,1 -7,2 -10,3z M160 88c0,-2 -1,-4 -1,-6 2,-1 3,-1 5,-1 0,-2 0,-3 0,-4 6,-1 6,-1 10,-3 0,-1 0,-2 0,-3 2,0 4,0 5,0 1,2 1,3 1,5 3,-1 5,-1 7,-1 0,1 -1,2 -1,3 -4,2 -8,3 -12,5 0,1 -1,2 -1,3 -9,0 -9,0 -13,2z M252 79c0,-2 0,-5 0,-8 1,1 2,1 3,1 1,3 1,5 1,7 -1,0 -2,0 -4,0z M199 78c-2,-1 -3,-1 -4,-2 0,-1 1,-1 1,-1 -2,-1 -3,-1 -5,-1 0,-1 0,-2 0,-3 1,0 3,-1 4,-2 -1,0 -1,-1 -1,-1 -3,1 -6,2 -8,3 -1,-1 -1,-2 -1,-2 -2,0 -3,0 -4,0 2,-8 15,-7 21,-7 0,1 0,2 0,3 -3,0 -3,0 -5,2 3,0 6,0 8,0 1,1 2,2 2,3 2,-1 4,-1 6,-1 -1,-1 -1,-2 -1,-3 4,-3 8,-1 14,-1 0,1 0,2 0,4 -3,0 -3,0 -3,1 1,0 3,0 4,0 -1,1 -1,3 -1,4 -11,1 -16,1 -27,4z M240 75c-3,-2 -6,-2 -9,-2 0,-3 1,-7 1,-10 1,0 3,0 4,0 0,2 1,3 2,4 0,-1 0,-1 0,-2 3,-1 6,-2 8,-3 1,2 2,4 2,6 -5,3 -5,3 -8,7z M268 74c-5,-2 -8,-3 -11,-8 -2,0 -3,0 -5,0 0,-2 0,-5 0,-8 -5,-1 -5,-7 -6,-12 1,0 2,0 3,0 0,1 0,2 0,3 4,2 5,2 7,6 1,0 2,0 3,0 1,4 3,7 5,10 8,0 16,1 24,1 0,2 0,5 -1,7 -6,0 -13,1 -19,1z M290 65c-2,-1 -4,-1 -6,-2 0,-1 0,-1 0,-2 -1,-1 -2,-1 -2,-1 -1,1 -1,1 -1,2 -3,0 -5,-1 -7,-1 0,-1 -1,-2 -1,-3 -1,0 -3,0 -4,0 -1,-1 -1,-2 -1,-3 -4,1 -5,1 -8,-1 -1,-1 -1,-2 -1,-3 3,0 6,0 9,0 1,-1 1,-2 2,-3 1,0 2,0 3,0 0,1 1,2 1,3 1,0 2,0 3,0 0,-1 0,-2 0,-3 -4,-1 -7,-2 -10,-2 1,-2 1,-2 9,-3 0,-1 0,-1 1,-2 -3,0 -7,-1 -10,-1 0,-1 0,-2 0,-3 11,-7 25,-5 38,-6 -13,-5 -27,1 -40,1 -1,-1 -2,-1 -2,-2 1,-1 3,-2 5,-2 0,-2 1,-5 1,-7 3,0 5,1 8,1 1,-1 1,-2 2,-3 10,0 20,-1 30,-2 0,1 0,2 0,3 18,-1 18,-1 27,-3 0,2 0,4 1,5 4,1 18,-1 13,7 -1,1 -4,1 -10,4 0,1 0,2 0,3 -4,0 -6,-1 -8,0 0,1 1,1 1,2 -1,1 -19,6 -21,8 0,1 0,2 1,3 -7,2 -7,2 -10,5 0,1 0,2 0,3 -5,0 -6,-1 -10,-4 0,5 1,6 3,10 -2,1 -4,1 -6,2z M224 57c0,-2 0,-3 0,-5 1,0 3,0 4,0 0,1 0,3 0,4 -1,0 -2,0 -4,1z M241 57c-4,-6 -9,-5 -6,-13 5,3 5,3 7,4 1,4 1,5 -1,9z"/>
                <path class='country' id="Ontario" (mouseover)="showCountry('Ontario')" (click)="highlightCountry('Ontario')" d="M264 231c2,-1 2,-1 3,-6 1,1 3,1 4,2 0,-2 -1,-4 -1,-6 -16,-5 -8,-18 -29,-10 -1,-1 -2,-2 -3,-3 -3,0 -6,0 -9,-1 -6,0 -13,0 -20,0 1,-17 3,-35 4,-52 5,0 10,0 15,1 4,0 7,0 10,0 0,2 0,4 0,5 1,1 2,1 3,1 0,2 0,4 1,6 2,2 5,3 8,5 0,1 0,2 0,3 7,2 15,6 23,5 0,8 1,11 5,17 0,8 -1,17 -1,25 1,0 2,0 4,0 0,-1 0,-2 0,-2 5,0 7,0 11,4 -3,1 -6,2 -9,3 0,1 0,1 0,2 -7,2 -13,8 -20,7 0,-2 1,-4 1,-6z"/>
                <path class='country' id="Etat de l Ouest" (mouseover)="showCountry('Etat de l Ouest')" (click)="highlightCountry('Etat de l Ouest')" d="M144 275c-15,-24 -15,-33 -9,-61 1,0 2,0 4,0 -1,-5 -1,-5 -3,-9 24,1 49,1 73,2 7,0 14,0 20,0 -1,14 -1,28 -2,43 -6,0 -12,0 -18,0 -1,3 -2,6 -2,9 -3,0 -6,1 -8,1 -1,5 -2,9 -3,13 -2,1 -4,1 -5,1 0,4 0,9 0,13 -2,-1 -4,-2 -6,-2 -9,-10 -19,-1 -27,-10 -5,0 -10,0 -14,0z"/>
                <path class='country' id="Quebec" (mouseover)="showCountry('Quebec')" (click)="highlightCountry('Quebec')" d="M319 229c0,-5 0,-9 0,-13 -4,0 -4,0 -9,2 -1,1 -1,3 -1,5 -10,2 -10,2 -17,2 -4,-4 -6,-4 -11,-4 0,0 0,1 0,2 -2,0 -3,0 -4,0 0,-8 1,-17 1,-25 1,0 2,0 3,0 2,-5 2,-11 2,-17 5,-1 7,-3 11,-6 0,-7 -1,-9 -3,-15 8,-2 7,-8 8,-16 5,3 10,2 15,2 0,1 1,2 1,3 1,0 3,0 4,0 3,6 3,6 4,9 -1,0 -2,0 -3,0 1,3 3,5 4,7 2,1 3,1 5,1 0,0 0,-1 0,-2 2,-1 4,-2 6,-3 0,-1 0,-3 1,-5 1,-1 3,-2 5,-2 3,7 4,17 6,24 2,2 5,4 8,6 -4,2 -4,2 -4,4 3,0 6,0 9,0 0,3 1,6 1,9 -9,2 -9,2 -15,4 -7,7 -18,1 -22,6 2,1 5,2 7,3 0,1 0,2 1,4 -2,0 -3,0 -4,1 2,1 2,1 2,7 3,0 6,0 10,0 0,1 0,2 0,3 -9,3 -13,9 -21,10 0,-1 0,-2 0,-3 2,-1 3,-2 5,-3 -1,-1 -1,-1 -5,0z M357 219c0,-1 -1,-2 -2,-4 -1,1 -2,2 -4,3 0,-1 0,-2 0,-3 -2,0 -5,0 -7,-1 0,-2 1,-3 2,-5 1,0 2,0 3,0 1,-6 9,-10 15,-11 -1,2 -1,4 -1,5 -2,0 -3,0 -4,0 0,1 0,2 1,3 1,-1 2,-1 3,-1 0,1 1,3 2,4 -1,0 -2,1 -2,1 0,1 0,2 0,3 1,0 2,1 3,1 0,1 0,2 -1,3 -2,1 -5,1 -8,2z"/>
                </g>
                <g id="South America" stroke="rgb(222,121,82)" fill="#E79273" visibility="visible">
                <path class='country' id="Argentine" (mouseover)="showCountry('Argentine')" (click)="highlightCountry('Argentine')" d="M227 487c1,0 3,-1 5,-2 0,2 1,5 1,8 6,2 5,8 10,10 1,-2 2,-4 3,-5 1,0 2,-1 3,-1 3,4 4,3 9,1 0,1 0,2 0,3 1,0 3,0 5,0 4,7 9,7 16,10 -1,4 -2,7 -4,11 4,-1 8,-1 12,-2 2,-4 2,-4 5,-6 1,1 1,2 2,3 -4,3 -10,8 -11,13 2,0 4,0 7,0 0,2 0,2 0,6 5,1 6,4 10,8 0,2 0,2 -3,2 0,1 0,2 -1,4 -8,3 -12,-1 -19,-1 5,5 5,5 7,8 0,0 1,0 1,-1 0,3 0,6 0,8 -3,2 -13,3 -16,5 -1,6 -1,6 -2,9 -2,0 -4,0 -6,0 0,-1 -1,-1 -1,-2 0,1 0,3 0,4 0,1 1,2 2,3 -3,1 -3,1 -3,2 1,0 2,0 2,0 0,1 0,2 0,3 0,0 -1,0 -2,0 0,1 0,2 1,3 -4,4 -4,4 -4,9 1,0 2,1 3,1 -1,3 -1,5 -1,8 -1,0 -2,1 -3,1 1,3 -2,8 -2,11 1,1 3,3 4,4 0,1 -1,1 -2,2 1,1 1,2 1,3 1,0 2,0 3,0 0,1 0,2 0,3 6,3 12,6 18,10 -14,4 -13,3 -26,0 1,-1 1,-1 1,-2 -1,0 -2,0 -3,0 0,-2 0,-3 0,-4 -2,0 -4,0 -5,0 0,-1 0,-2 0,-3 0,0 -1,1 -2,1 -1,-1 -3,-1 -5,-2 0,-2 0,-3 0,-4 -9,-5 -9,-14 -10,-23 -3,0 -3,0 -4,-2 1,-1 1,-2 1,-3 -1,0 -1,0 -2,0 0,-1 0,-3 0,-4 2,0 2,0 2,-1 -1,0 -1,0 -2,0 0,-2 0,-4 0,-6 1,0 2,0 4,0 0,-4 0,-9 0,-13 -1,0 -2,-1 -3,-1 5,-28 6,-61 4,-89 M309 631c-2,0 -3,-1 -4,-2 -1,-3 -1,-6 -1,-9 7,-7 9,-5 18,-4 0,1 0,3 1,5 -6,2 -7,3 -10,9 -2,1 -3,1 -4,1z M295 630c-1,-2 -1,-2 -4,-3 0,0 0,-1 0,-2 1,0 2,-1 4,-1 -1,-1 -2,-3 -3,-4 3,-2 6,-3 9,-4 0,3 0,7 1,10 -3,3 -3,3 -7,4z" />
                <path class='country' id="Bresil" (mouseover)="showCountry('Bresil')" (click)="highlightCountry('Bresil')" d="M292 514c-2,-10 -4,-13 -13,-18 0,-2 -1,-4 -1,-6 1,-1 2,-1 3,-1 -5,-12 -5,-12 -7,-14 -5,-1 -5,-1 -6,-3 1,-1 1,-2 2,-2 -1,-1 -2,-2 -3,-2 0,-2 0,-3 0,-4 -8,-1 -14,-5 -20,-9 -2,-4 -2,-4 -3,-6 -5,3 -11,8 -16,7 -2,-6 -2,-6 -1,-9 -4,0 -5,2 -9,2 -5,-8 -14,-6 -9,-17 1,0 2,0 3,0 0,-7 1,-7 7,-9 0,0 1,1 1,1 3,0 5,0 8,0 4,-7 -1,-11 0,-18 2,-1 5,-2 7,-2 4,3 6,2 11,2 3,-3 3,-4 3,-9 6,-1 7,-3 15,-4 3,7 3,7 4,13 7,-1 14,1 20,-4 7,5 13,-5 16,-11 8,3 7,7 9,16 2,0 5,0 7,0 -1,2 -2,4 -3,5 5,1 10,1 16,3 0,1 0,2 0,2 14,-1 25,9 38,12 -1,14 -3,19 -14,27 0,3 -1,7 -1,10 -1,1 -2,1 -3,1 0,5 0,11 0,16 -12,18 -11,19 -31,23 0,1 0,2 0,3 -2,0 -3,0 -4,0 -5,8 -5,11 -5,20 -6,3 -9,9 -11,15 -1,0 -1,0 -2,0 -4,-4 -5,-7 -10,-8 0,-4 0,-4 0,-6 -3,0 -5,0 -7,0 1,-5 7,-10 11,-13 -1,-1 -1,-2 -2,-3z"/>
                <path class='country' id="Perou" (mouseover)="showCountry('Perou')" (click)="highlightCountry('Perou')" d="M227 487c-4,-1 -7,-3 -10,-5 0,-1 0,-2 0,-2 -4,-3 -8,-5 -12,-7 -5,-7 -17,-29 -25,-34 0,-2 0,-5 0,-7 2,-2 4,-3 4,-7 -1,1 -2,2 -3,3 -4,-7 4,-16 7,-22 6,4 14,4 16,10 14,5 14,5 16,6 0,0 -1,1 -1,1 -6,2 -7,2 -7,9 -1,0 -2,0 -3,0 -5,11 4,9 9,17 4,0 5,-2 9,-2 -1,3 -1,3 1,9 5,1 11,-4 16,-7 1,2 1,2 3,6 6,4 12,8 20,9 0,1 0,2 0,4 1,0 2,1 3,2 -1,0 -1,1 -2,2 1,2 1,2 6,3 2,2 2,2 7,14 -1,0 -2,0 -3,1 0,2 1,4 1,6 9,5 11,8 13,18 -3,2 -3,2 -5,6 -4,1 -8,1 -12,2 2,-4 3,-7 4,-11 -7,-3 -12,-3 -16,-10 -2,0 -4,0 -5,0 0,-1 0,-2 0,-3 -5,2 -6,3 -9,-1 -1,0 -2,1 -3,1 -1,1 -2,3 -3,5 -5,-2 -4,-8 -10,-10 0,-3 -1,-6 -1,-8 -2,1 -4,2 -5,2z"/>
                <path class='country' id="Venezuela" (mouseover)="showCountry('Venezuela')" (click)="highlightCountry('Venezuela')" d="M219 423c0,0 1,-1 1,-1 -2,-1 -2,-1 -16,-6 -2,-6 -10,-6 -16,-10 1,-7 4,-13 5,-21 -1,0 -2,0 -3,-1 0,-3 1,-7 2,-10 1,0 2,0 3,0 0,-2 0,-4 0,-5 2,2 3,3 3,6 1,1 2,1 3,2 0,-2 -1,-4 -1,-6 4,-2 8,-5 12,-8 4,-2 7,-2 12,-5 2,0 3,0 5,-1 1,1 2,2 3,3 -1,1 -2,3 -4,4 1,2 2,3 3,5 0,-2 0,-2 0,-3 1,-1 1,-1 2,-1 0,-1 0,-2 0,-3 5,-1 8,0 13,2 10,0 18,-2 21,9 0,0 1,0 2,0 1,1 1,2 1,4 6,1 9,3 13,7 1,-1 2,-1 2,-2 5,3 16,7 19,9 -3,6 -9,16 -16,11 -6,5 -13,3 -20,4 -1,-6 -1,-6 -4,-13 -8,1 -9,3 -15,4 0,5 0,6 -3,9 -5,0 -7,1 -11,-2 -2,0 -5,1 -7,2 -1,7 4,11 0,18 -3,0 -5,0 -8,0 0,0 -1,-1 -1,-1z"/>
                </g>
          </g>
          <path id="hilite" fill="white" stroke-width="8" stroke="black" opacity="0.3"/>
        </svg>
    </div>
    <div class="indent">
        <div class="row">
            <ul ng-repeat='item in items'>
                <li ng-if="item.shipping!==undefined">Vous êtes les armées <i>{{myGame.color}}</i></li>
                <li ng-if="item.shipping!==undefined">Nombre d'armées total : <i>{{myGame.nbArmee}}</i> Nombres d'armées à placer : <i>{{myGame.armeeAplacer}}</i></li>
                <li ng-if="item.shipping!==undefined">Votre objectif est le suivant : <i>{{myGame.carteObj}} </i></li>
                <li ng-if="item.shipping!==undefined">Vos continents sont les suivant : <i *ngFor="let cont of myGame.myContinent" > {{cont.name}} , </i></li>
                <li ng-if="item.shipping!==undefined">Vos cartes territoires sont : <i *ngFor="let card of myGame.myCards">{{findNameTer(card.id)}} {{card.arme}} , </i></li>
                <li ng-if="selectedCountry && selectedArmy">Pays selectionné : <i>{{selectedCountry}}</i> Nombre d'armées : <i>{{selectedArmy}}</i></li>
            </ul>
            <div class="connection">
                <button id="connect" class="btn btn-default" type="submit" (click)="connect()" [disabled]="!disabled">Connect</button>
                <button id="send" class="btn btn-default" type="submit" [disabled]="initDisable" (click)="init()">init</button>
                <button id="ready" class="btn btn-default" type="submit" [disabled]="ready" (click)="readyToPlay()">ready</button>
            </div>
            <form>
                <input type="number" id="nbArmyDeploy" min="1" (change)="changeNbChangeArmySubmit('nbArmyDeploy')">
                <button id="sendArmy" class="btn btn-default" type="submit" (click)="sendArmy()">sendArmy</button>
            </form>
            <form>
                <select id="countryToAttack" size = "1" (change)="changeCountryToAttack('countryToAttack')" >
                    <option selected disabled> Select an Option </option>
                    <option *ngFor="let nei of neighborsToAttack" (selected)="nei.name" >{{nei.name}}</option>
                </select>
                <input type="number" id="nbArmyAttack" min="1" (change)="changeNbAttackSubmit('nbArmyAttack')">
                <button id="attack" class="btn btn-default" type="submit" (click)="attack()">attack</button>
            </form>
            <form>
                <select id="countryToMoove" size = "1" (change)="changeCountryToMoove('countryToMoove')" >
                    <option selected disabled> Select an Option </option>
                    <option *ngFor="let neighbor of neighborsToMoove" >{{neighbor.name}}</option>
                </select>
                <input type="number" id="nbArmyMoove" min="1" (change)="changeNbMooveSubmit('nbArmyMoove')">
                <button id="move" class="btn btn-default" type="submit" (click)="move()">move</button>
            </form>
            <form>
                <select size = "1" id="nbArmyDef" size = "1" (change)="changeNbDefSubmit('nbArmyDef')" >
                    <option selected disabled> Select an Option </option>
                    <option> 1 </option>
                    <option> 2 </option>
                </select>
                <button id="def" class="btn btn-default" type="def" (click)="def()">def</button>
            </form>
            <form>
                <select id="first" size = "1" (change)="changeWeapon('first')" >
                    <option selected disabled> Select an Option </option>
                    <option *ngFor="let card of myGame.myCards" >{{findNameTer(card.idTerr)}} {{card.arme}}</option>
                </select>
                <select id="second" size = "1" (change)="changeWeapon('second')" >
                    <option selected disabled> Select an Option </option>
                    <option *ngFor="let card of myGame.myCards" >{{findNameTer(card.idTerr)}} {{card.arme}}</option>
                </select>
                <select id="third" size = "1" (change)="changeWeapon('third')" >
                    <option selected disabled> Select an Option </option>
                    <option *ngFor="let card of myGame.myCards" >{{findNameTer(card.id)}} {{card.arme}}</option>
                </select>
                <button id="sendCard" class="btn btn-default" type="submit" (click)="changeCard()">changeTerrCard</button>
            </form>
            <button id="passTurn" class="btn btn-default" type="submit" (click)="passTurn()">passTurn</button>
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Greetings</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let greeting of greetings">
                        {{greeting}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{text}}
</body>
</html>
